@use '../../styles.scss' as *;

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  color: $text-primary;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}


.error {
  color: red;
}
