<main>
  <div *ngIf="loading">Loading...</div>


  <div *ngIf="!loading" class="edit-holder">
    <p class="error" *ngIf="error">{{ error }}</p>


    <form *ngIf="document" #f="ngForm" (ngSubmit)="saveDocument()">

      <label>
        Title
        <input [(ngModel)]="document.title" class="form-field" name="title" placeholder="Document title" />
      </label>

      <ng-container [ngSwitch]="document.type">
        <app-monaco-editor *ngSwitchCase="'code'" [docId]="document._id || 'demo_doc' ">
        </app-monaco-editor>

        <app-quill-editor *ngSwitchCase="'richtext'" [docId]="document._id || 'demo_doc'">
        </app-quill-editor>

        <p *ngSwitchDefault class="muted">Unknown doc type: {{ document.type }}</p>
      </ng-container>

      <div class="actions">
        <button type="button" (click)="deleteDocument()" class="button delete-button">Delete Document</button>
        <button class="button" type="button" (click)="showShare = true" [disabled]="!document._id">
          Share
        </button>
        <!-- <button type="submit" [disabled]="loading" class="button-primary save-button">Save</button> -->
        <button *ngIf="document.type === 'code'" type="submit" [disabled]="loading" class="button-primary save-button">Run Code</button>
      </div>
    </form>

    <app-share-doc-dialog [open]="showShare" [doc]="document ?? null" (closed)="showShare = false">
    </app-share-doc-dialog>
  </div>
</main>