<main>
  <div *ngIf="loading">Loading…</div>


  <div *ngIf="!loading" class="edit-holder">
    <p class="error" *ngIf="error">{{ error }}</p>


    <form *ngIf="document" #f="ngForm" (ngSubmit)="saveDocument()">

      <label>
        Title
        <input [(ngModel)]="document.title" class="form-field" name="title" placeholder="Document title" />
      </label>

      <app-quill-editor [docId]="document._id || 'demo-doc'"></app-quill-editor>

      <div class="actions">
        <button type="button" (click)="deleteDocument()" class="button delete-button">Delete Document</button>
        <button class="button" type="button" (click)="showShare = true" [disabled]="!document._id">
          Share
        </button>
        <button type="submit" [disabled]="loading" class="button-primary save-button">Save</button>
      </div>
    </form>

    <app-share-doc-dialog [open]="showShare" [doc]="document ?? null" (closed)="showShare = false">
    </app-share-doc-dialog>
  </div>
</main>