@use '../../../styles.scss' as *;

h2,
h3 {
  color: $text-primary;
}

a {
  color: $text-primary;
}

.document {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 30vw;
  padding: 1rem;

  background: $bg-elevated;
}
