@use '../../../styles/variables.scss' as *;

h2,
h3 {
  color: $text-primary;
}

a {
  color: $text-primary;
}

.document {
  background: $bg-elevated;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 30vw;
  padding: 1rem;
  border-radius: 0.2rem;

  .document-link {
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      color: $highlight;
    }
  }
}
