@use 'sass:color';
@use '../../../styles/variables.scss' as *;

.register-wrap {
  max-width: 380px;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 12px;

  h1 { 
    margin-bottom: 1rem;
    text-align: center;
   }

  form {
    display: grid;
    gap: 0.75rem;

    label {
      display: grid;
      gap: 0.35rem;
      span { 
        font-size: 0.9rem; 
        color: $text-primary; 
      }
    }

    .error { 
      color: $error; 
      font-size: 0.9rem; 
    }
  }

  .muted { 
    margin-top: 1rem; 
    color: $text-secondary; 
    font-size: 0.9rem; 
  }
}
