@use '../../../styles.scss' as *;

h2,
h3 {
  color: $text-primary;
}

a {
  color: $text-primary;
}

.add-button {
  color: $highlight;
}

.document-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
}

.document {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 30vw;
  padding: 1rem;

  background: $bg-elevated;
}